.home-container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  justify-content: space-between;
}
.map-container {
  width: 100%;
  padding: 4px;
}
.map-element {
  height: 300px;
}
@media (min-width: 768px) {
  .home-container {
    flex-direction: row;
  }
  .map-container {
    flex: 1 1 100%;
  }
  .map-element {
    height: 100%;
  }
}
